<%
  content_for(:title, 'General Docs')
  content_for(:category_1, 'Documentation')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-book'></i> Documentation: <span class='fw-300'>General Docs</span>
<% end %>

<% content_for :pagedescription do %>
  Product documentation, plugin reference, and online help
<% end %>

<% if ENV['DEMO_MODE'] %>
<div class="alert alert-danger alert-dismissible p-2 mb-4">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      <i class="fal fa-times"></i>
    </span>
  </button>
  <div class="d-flex flex-start w-100">
    <div class="mr-2 hidden-sm-down">
      <span class="icon-stack icon-stack-lg">
        <i class="base-14 icon-stack-3x color-primary-400"></i>
        <i class="base-14 icon-stack-2x color-primary-600 opacity-70"></i>
        <i class="fal fa-newspaper icon-stack-1x text-white opacity-90"></i>
      </span>
    </div>
    <div class="d-flex flex-fill align-items-center">
      <div class="flex-fill">
        <span class="h5">To access the full documentation, instructions and/or tutorials please purchase the <strong>Full</strong> edition on WrapBootstrap: <a href="https://wrapbootstrap.com/theme/smartadmin-ruby-on-rails-edition-WB0H2M263" rel="nofollow">SmartAdmin Ruby on Rails Edition</a>.</span>
      </div>
    </div>
  </div>
</div>
<% else %>
  <h1>README</h1>
<p>This documentation describes how to set up the application, its components, how
to deploy it, and some internal information.</p>
<h2>Set up</h2>
<p>This application needs ruby version 2.6.3. The version is set at the top of the
Gemfile, in a way similar to Heroku. Most ruby version managers and Heroku
recognize this syntax and will select the right version, or ask to install it.
To find more about ruby, go <a href="https://www.ruby-lang.org/es/">here</a></p>
<p>This application is also based on the latest stable Rails version, which is, at
this moment, 6.0.0. To find more about Rails, go <a href="http://rubyonrails.org/">here</a></p>
<p>This application also depends on node.js and yarn. You need at least node.js version 8.16.0+, and
yarn version 1.x+. To learn more about how to install node.js go to <a href="https://nodejs.org/">their website</a>.</p>
<p>Once you have node.js installed you can install yarn by running:</p>
<pre><code>sudo npm install -g yarn@&quot;&gt;=1.0&quot;
</code></pre>
<p>Then, you have to install all the gem dependencies. To do so, run:</p>
<pre><code>gem install bundler
bundle install
</code></pre>
<p>After that, your application is ready to go. To run it, you have to execute:</p>
<pre><code>rails s
</code></pre>
<p>Point your browser to <a href="http://localhost:3000/">http://localhost:3000/</a> and explore!</p>
<h2>Deployment instructions</h2>
<p>This application is Heroku-ready. To deploy it to heroku, you have to first set
up an application on Heroku, and add Heroku as a remote with this:</p>
<pre><code>heroku git:remote -a your-app-name
</code></pre>
<p>After that, you only have to push it to Heroku:</p>
<pre><code>git push heroku master
</code></pre>
<h2>Internal information</h2>
<p>Most of the needed stylesheets are loaded, as standard, from
<code>assets/stylesheets/application.css</code>. Almost all the javascripts are loaded,
as standard, from <code>assets/javascripts/application.js</code>, except for some that
have to be loaded directly from the template, as they require some special
attributes.</p>
<p>Each page can accept a <code>content_for :head_block</code> block which you can use to insert
styles and other types of content into the header HTML section. Also, each page
can accept a <code>content_for :scripts_block</code> block where you can set page specific
javascript.</p>
<p>Left side menu is dynamically generated. You can configure it by going to the
object <code>SidebarEntry</code></p>

<% end %>
