<%
  content_for(:title, 'Tabs & Accordions')
  content_for(:category_1, 'UI Components')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-window'></i> Tabs & Accordions
<% end %>

<% content_for :pagedescription do %>
  tabs-and-accordions description
<% end %>

tabs-and-accordions
